<div class="container">
  <div class="col-md-4 col-md-offset-4">
    <div>
    <h1>后台登录</h1>
      <%if flash[:alert]%>
      <%=flash[:alert]%>
          <% end %>

      <%= form_tag admin_sessions_path  do |f| %>
        <div class="form-group">
          <%= text_field_tag :email, params[:email], :placeholder=>"请输入Email", :class=>"form-cotrol"  %>
        </div>
        <div class="form-group">
          <%= password_field_tag :password, params[:password], :placeholder=>"请输入密码", :class=>"form-cotrol"  %>
        </div>

          <%= submit_tag '登录', :class=>"btn btn-success"%>


      <% end %>
    </div>
  </div>
</div>