

  <div class="col-md-12 col-lg-12">
    <%= simple_form_for [:admin,@article] do |f|%>
      <%= f.input :title, :label => "标题" %>
      <%= f.input :subtitle, :label => "副标题" %>
      <%= f.input :image, :label => "图片" %>
      <%= f.input :content, :label => "内容", :hint=>"当渲染类型选择content时必须填写", :input_html => {:height =>500, :class=>"MyEditor"} %>
      <%= f.input :seo_title, :label => "SEO标题" %>
      <%= f.input :seo_keywords, :label => "SEO关键词" %>
      <%= f.input :seo_description, :label => "SEO描述" %>
      <%= f.submit "提交", :class => "btn btn-success" %>
      <%= link_to "取消", admin_articles_path, :class => "btn btn-link" %>
    <% end %>
  </div>

