
<div class="row">
  <div class="col-md-12 col-lg-12">
    <%= simple_form_for [:admin,@user] do |f|%>
        <%= f.input :name, :label => "Name" %>
        <%= f.input :email, :label => "Email" %>

        <%= f.input :password, :label => "Password" %>

        <%= f.submit "Submit", :class => "btn btn-success" %>
        <%= link_to "cancel", admin_users_path, :class => "btn btn-link" %>
    <% end %>
  </div>
</div>
