
<div class="row">
  <div class="col-md-12 col-lg-12">
    <%= simple_form_for [:admin,@user] do |f|%>
        <%= f.input :name, :label => "用户名" %>
        <%= f.input :email, :label => "邮箱" %>

        <%= f.input :password, :label => "密码" %>

        <%= f.submit "提交", :class => "btn btn-success" %>
        <%= link_to "取消", admin_users_path, :class => "btn btn-link" %>
    <% end %>
  </div>
</div>
