<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>后台管理</title>
  <%= stylesheet_link_tag    'admin', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'admin', 'data-turbolinks-track' => true %>

  <%= csrf_meta_tags %>
</head>

<body class="<%="#{controller_name}-#{action_name}"%>" id="<%="#{controller_name}-#{action_name}"%>" data-controller="<%=controller_name.humanize%>" data-action="<%=action_name.humanize%>">
  <%= render "admin/navbar" %>
  <div class="container">
    <%=render "admin/flash"%>
    <%= yield %>
  </div>
</body>
